h1{
    color: #ffffff;
}
h3{
    font-size: 150% ;
    color: #000099;
}

body{
    
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3db99e+0,a0e2cd+100&1+0,1+62,0.7+68,0+100 */
background: -moz-linear-gradient(-45deg,  rgba(61,185,158,1) 0%, rgba(122,210,187,1) 62%, rgba(128,213,190,0.7) 68%, rgba(160,226,205,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(61,185,158,1) 0%,rgba(122,210,187,1) 62%,rgba(128,213,190,0.7) 68%,rgba(160,226,205,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(61,185,158,1) 0%,rgba(122,210,187,1) 62%,rgba(128,213,190,0.7) 68%,rgba(160,226,205,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3db99e', endColorstr='#00a0e2cd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

   margin-left: 10%;
   margin-right:40%;
    margin: 0 auto;
    font-family:Verdana, Arial, Georgia;
  

}


#table, td{
 border: 2px solid #990033;    
    
      font-size: 100% !important;
      margin: auto;
    
}
th{
    color: red !important;
}

td{
   
     height:50px;
}

iframe{
    
     font-weight: bold !important;
    color: #660033 !important;
   
}
